---
layout: archive
title: "Recent & Upcoming Talks and Presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<!-- 
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
Talk at the [“Southern California Applied Mathematics Symposium 2025”](https://www.socams.org/home), hosted by UC Riverside, on [“Physically consistent reduced-order modeling by enhancing Operator Inference with state constraints”](https://arxiv.org/abs/2502.03672).

"Reduced-order modeling using Operator Inference for char combustion" for Prof. Dongjin Lee and his research group at Hanyang University, South Korea, September 20, 2024. -->

<div class="talks-manual">
  <!-- <h2>Recent & Upcoming Talks and Presentations</h2> -->
  <ul>
    <li>
      <strong>July 20-24th, 2025:</strong>
      Will give a talk at the
      <a href="https://usnccm18.usacm.org/home">“18th U.S. National Congress on Computational Mechanics”</a>
      on
      <a href="https://arxiv.org/abs/2502.03672">“Physically consistent reduced-order modeling by enhancing Operator Inference with state constraints”</a>.
    </li>
    
    <li>
      <strong>April 26th, 2025:</strong>
      Gave a talk at the
      <a href="https://www.socams.org/home">“Southern California Applied Mathematics Symposium 2025”</a>,
      hosted by UC Riverside, on
      <a href="https://arxiv.org/abs/2502.03672">“Physically consistent reduced-order modeling by enhancing Operator Inference with state constraints”</a>.
    </li>

    <li>
      <strong>September 20th, 2024:</strong>
      Gave a talk on
      "Reduced-order modeling using Operator Inference for char combustion" to Prof. Dongjin Lee and his research group at Hanyang University, South Korea
    </li>
  </ul>
</div>